
.sub-header {
    background-color: rgb(127,207,8);
    height: 50px;
}

.list-subheader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list-subheader li{
    height: 100%;
}

.item-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 1rem;
    color: #000;
    height: 100%;

}

.item-subheader:hover {
    font-weight: 600;
}


