/* .super-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-header {
    text-decoration: none;
    margin: 0 1rem;
    color: #000;
}

.box-user {
    display: flex;
} */
