/* .producto {
    border: 1px solid #000;
    border-radius: .5rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.foto-producto {
    width: 120px;
    object-fit: contain;
}


.prod-comprar {
    margin-top: .5rem;
    padding: .5rem;
    border-radius: .5rem;
} */